<ssi-header menuActive="structure"></ssi-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <div fxFlex>
      <h1>Funciones</h1>
    </div>
    <div fxFlex fxLayout="row">
      <button mat-raised-button routerLink="/functions/create" color="primary">Agregar nueva funcion</button>

    </div>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Posicion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.positionName}} </mat-cell>
        </ng-container>



        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Accion </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button (click)="deleteFunctions(row)" color="warn">
              Eliminar
            </button>
            <button mat-raised-button (click)="editFunctions(row)" color="primary">
              Editar
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

</div>
