<div fxFlex *ngIf="departmentDetail">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        <h3>{{departmentDetail.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p>{{departmentDetail.description}}</p>
    </mat-card-content>
  </mat-card>
</div>


<div fxFlex *ngIf="departmentDetail">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        <a mat-raised-button routerLink="/positions"><h3>Cargos</h3></a>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-list dense>
        <mat-list-item *ngFor="let position of departmentDetail.positions">
          <a mat-raised-button routerLink="/positions/detail/{{position.id}}">
            <span class="fa fa-chevron-right fa-lg"></span> {{position.name}}
          </a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
