<div fxFlex>
<mat-toolbar color="primary">
  <span style="margin-right: 10px;">SSI-D</span>
  <button mat-button routerLink="/home" *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='home'}"><span class="fa fa-home"></span> Inicio
  </button>

  <button mat-button [matMenuTriggerFor]="personalMenu" *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='personal'}"><span class="fa fa-user fa-lg"></span> Personal
  </button>
  <mat-menu #personalMenu="matMenu">
    <button routerLink="/personal" mat-menu-item>Personal</button>
    <button routerLink="/assign" mat-menu-item>Asignación</button>
    <button routerLink="/contracts" mat-menu-item>Contratos</button>
  </mat-menu>

  <!--Menu Incidentes -->
  <button mat-button routerLink="/incidents"  *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='incident'}"><span class="fa fa-bullhorn"></span> Incidentes
  </button>
  <!--<button mat-button [matMenuTriggerFor]="incidentsMenu" *ngIf="showMenu"-->
          <!--[ngClass]="{'Active': menuActive=='incident'}"><span class="fa fa-bullhorn"></span> Incidentes-->
  <!--</button>-->
  <!--<button mat-button><span class="fa fa-bullhorn"></span> Incidentes</button>-->
  <!--<mat-menu #incidentsMenu="matMenu">-->
    <!--<button routerLink="/incidents" mat-menu-item>Incidentes</button>-->
    <!--<button routerLink="/accident" mat-menu-item>Accidentes</button>-->
  <!--</mat-menu>-->

  <!--<button mat-button routerLink="/contracts" *ngIf="showMenu"-->
          <!--[ngClass]="{'Active': menuActive=='contract'}"><span class="fa fa-bullhorn"></span> Contratos-->
  <!--</button>-->

  <!--Menu Equipments-->
  <button mat-button [matMenuTriggerFor]="equipments" *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='equipament'}"><span class="fa fa-wrench"></span> Equipamiento
  </button>
  <mat-menu #equipments="matMenu">
    <button routerLink="/equipments" mat-menu-item>Equipamiento</button>
    <button routerLink="/inventory" mat-menu-item>Inventario</button>
    <button routerLink="/kardex" mat-menu-item>Kardex</button>
  </mat-menu>

  <!--Menu program Sso-->
  <button mat-button [matMenuTriggerFor]="programSSO" *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='programsso'}"><span class="fa fa-shield"></span> Progama SSO
  </button>
  <mat-menu #programSSO="matMenu">
    <button routerLink="/trainers" mat-menu-item>Capacitadores</button>
    <button routerLink="/programsso" mat-menu-item>Programas</button>
    <button routerLink="/activities" mat-menu-item>Actividades</button>
    <button routerLink="/resources" mat-menu-item>Recursos</button>
  </mat-menu>

  <!--Menu Organizational structure-->
  <button mat-button [matMenuTriggerFor]="organizationalStructure" *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='structure'}">
    <span class="fa fa-building-o"></span> Estructura organizacional
  </button>
  <mat-menu #organizationalStructure="matMenu">
    <button routerLink="/organizational-structure" mat-menu-item>Estructura organizacional</button>
    <button routerLink="/departments" mat-menu-item>Departamentos de la empresa</button>
    <button mat-menu-item routerLink="/positions">Cargos de la empresa</button>
    <button mat-menu-item routerLink="/areas">Areas de trabajo</button>
    <button mat-menu-item routerLink="/functions">Funciones de cargos</button>
    <button mat-menu-item routerLink="/requirements">Requisitos de cargos</button>
  </mat-menu>

  <!--Reports-->
  <button mat-button [matMenuTriggerFor]="reports" *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='report'}"><span class="fa fa-print"></span> Reportes
  </button>
  <mat-menu #reports="matMenu">
    <button mat-menu-item routerLink="/reporte/cargos-empresa">Reporte - Cargos en la empresa</button>
    <button mat-menu-item routerLink="/reporte/manual-funciones">Reporte - Manual de funciones</button>
    <button mat-menu-item routerLink="/reporte/personal">Reporte - Personal</button>
    <button mat-menu-item routerLink="/reporte/accident/">Reporte - Accidentes</button>
    <button mat-menu-item routerLink="/reporte/iperc">Reporte - IPERC</button>
    <button mat-menu-item routerLink="/reporte/programa-sso">Reporte - Programa SSO</button>
    <button mat-menu-item routerLink="/reporte/recursos-sso">Reporte - Recursos SSO</button>
    <button mat-menu-item routerLink="/reporte/equipamiento">Reporte - Equipamiento</button>
    <button mat-menu-item routerLink="/reporte/inventario">Reporte - Inventarios</button>
  </mat-menu>

  <a mat-button routerLink="/about" *ngIf="showMenu"
     [ngClass]="{'Active': menuActive=='about'}"><span class="fa fa-info-circle fa-lg"></span> About</a>

  <span class="flex-spacer"></span>

  <button mat-button [matMenuTriggerFor]="session" *ngIf="showMenu"
          [ngClass]="{'Active': menuActive=='logout'}"><span class="fa fa-align-justify"></span>
  </button>
  <mat-menu #session="matMenu">
    <button mat-menu-item routerLink="/logout"><span class="fa fa-power-off"></span> Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
</div>
