<ssi-header></ssi-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <h1>Incidents</h1>
  </div>
  <div fxFlex fxLayout="row">
    <button mat-button routerLink="/incidents/create">Agregar nuevo Incidente</button>
    <button mat-button routerLink="/incidents/report">Reportes</button>
  </div>
  <div fxFlex>
    <div>
      <mat-card>
        <mat-card-content>
          <mat-table #table [dataSource]="incidents">
            <ng-container matColumnDef="incidentId">
              <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
              <mat-cell *matCellDef="let incident">{{incident.incidentId}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
              <mat-cell *matCellDef="let incident">{{incident.code}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="area">
              <mat-header-cell *matHeaderCellDef>Area</mat-header-cell>
              <mat-cell *matCellDef="let incident">{{incident.area}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="incidentDetailName">
              <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
              <mat-cell *matCellDef="let incident">{{incident.incidentDetail.incidentDetailName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="incidentDetailStatus">
              <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
              <mat-cell *matCellDef="let incident">{{incident.incidentDetail.incidentDetailStatus}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="incidentTypeName">
              <mat-header-cell *matHeaderCellDef>Tipo de Incident</mat-header-cell>
              <mat-cell *matCellDef="let incident">{{incident.incidentType.incidentTypeName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Accion">
              <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
              <mat-cell *matCellDef="let incident">
                <button mat-raised-button routerLink="/incidents/update/{{incident.incidentId}}" color="primary">
                  Editar
                </button>
                <button mat-raised-button (click)="deleteIncident(incident)" color="warn">
                  Eliminar
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ssi-footer></ssi-footer>
