<ssi-header menuActive="incident"></ssi-header>
<div class="container"
     fxLayoutGap="10px">
  <div fxFlex="100%">
    <h1 *ngIf="!isUpdate">Crear Incidente</h1>
    <h1 *ngIf="isUpdate">Editar Incidente</h1>
  </div>
  <div fxFlex>
    <button mat-button routerLink="/incidents" color="accent">Atras</button>
    <button mat-button routerLink="/incidents/report" color="accent">Reportes</button>
  </div>
  <mat-card>
    <form [formGroup]="incidentForm" (ngSubmit)="saveData()" id="form">
    <mat-card-content>
      <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <div>
          <span>Gravedad: </span>
        </div>
        <mat-radio-group formControlName="severity">
          <mat-radio-button value="alta">Alta</mat-radio-button>
          <mat-radio-button value="media">Media</mat-radio-button>
          <mat-radio-button value="baja">Baja</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field fxFlex="50%">
          <input matInput name="code" formControlName="code" placeholder="Code">
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <mat-select placeholder="Selecciona un tipo de incidente" formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="row" fxLayout.xs="column">
        <mat-form-field fxFlex="50%">
          <mat-select placeholder="Selecciona un estado" formControlName="status">
            <mat-option *ngFor="let status of statusList" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <mat-select placeholder="Selecciona un Area" formControlName="area">
            <mat-option *ngFor="let area of areas" [value]="area.name">
              {{ area.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="row" fxLayout.xs="column">
        <mat-form-field fxFlex="50%">
          <mat-select placeholder="Reportado por:" formControlName="reportedBy">
            <mat-option *ngFor="let personal of personalList" [value]="personal.id">
              {{ personal.firstname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="50%" fxLayout="row" fxLayoutGap="10px">
          <mat-checkbox name="reincident" formControlName="reincident" fxFlex="50%">Reincidente</mat-checkbox>
          <mat-checkbox name="treatment" formControlName="treatment" fxFlex="50%">Tratamiento</mat-checkbox>
        </div>
      </div>
      <!-- <div fxFlex fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50%" fxLayout="row">
          <mat-form-field fxFlex="30%">
            <input type="number" matInput id="recurrence" name="recurrence" formControlName="recurrence" placeholder="Probabilidad de recurrencia" value="40" [readonly]="true">
          </mat-form-field>
          <mat-slider
            class="example-margin"
            [max]="100"
            [min]="0"
            [step]="1"
            [thumbLabel]="true"
            [tickInterval]="tickInterval"
            fxFlex="50%"
            (change)="updateRecurrence($event)"
            [value]="current"
          fxFlex="70%">
          </mat-slider>
        </div>
        <div fxFlex="50%" fxLayoutAlign="center">
          <div class="current">
            <span>{{current}}%</span>
            <round-progress
              [current]="current"
              [max]="100"
              [color]="getColor(current)"
              [radius]="25"
              [stroke]="5"
              [duration]="800"
              [animation]="'easeInOutQuart'"
              [animationDelay]="0"></round-progress>
          </div>
        </div>
      </div> -->
      <div fxFlex="100%" fxLayout="row">
        <mat-form-field fxFlex="100%">
          <textarea matInput formControlName="description" placeholder="Descripción" rows="6"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="cancelForm()" type="button">Cancelar</button>
      <button class="mat-background-primary" mat-raised-button
              [disabled]="incidentForm.invalid" type="submit" color="primary">Guardar</button>
    </mat-card-actions>
    </form>
  </mat-card>
</div>
<ssi-footer></ssi-footer>
