<ssi-header menuActive="equipament"></ssi-header>
<!--<ssi-row-equipment [equipmentrow]="equip" ]></ssi-row-equipment>-->
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <h1>Kardex</h1>
  </div>
  <mat-divider></mat-divider>
  <div fxFlex>
    <button mat-button routerLink="/kardex/create" color="primary"><span
      class="fa fa-chevron-right fa-lg"></span>
      Crear nuevo kardex
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="container"
       fxLayout="row"
       fxLayoutGap="10px">
    <div fxFlex="80%">
      <div>
        <mat-table #table [dataSource]="kardexs">
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.dateKardex | date}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="voucher">
            <mat-header-cell *matHeaderCellDef>N° de Vale</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.entryKardex+89}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef>Area</mat-header-cell>
            <mat-cell *matCellDef="let row">Area {{row.entryKardex}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="entry">
            <mat-header-cell *matHeaderCellDef>Entradas</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.entryKardex}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="outlay">
            <mat-header-cell *matHeaderCellDef>Salidas</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.outlayKardex}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="balance">
            <mat-header-cell *matHeaderCellDef>Saldo en Existencia</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.balanceKardex}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-raised-button routerLink="/row/update/{{row.id}}" color="primary">
                Editar
              </button>
              <button mat-raised-button (click)="onSelect(row)" color="primary">
                Ver
              </button>
            </mat-cell>
          </ng-container>
          <h3>hla a todos</h3>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
<ssi-footer></ssi-footer>
