<div fullscreen>
  <ssi-header></ssi-header>
  <div class="container"
       fxLayout="column"
       fxLayoutGap="10px">

    <div fxFlex>
      <h1>Estructura organizacional</h1>
    </div>
    <mat-divider></mat-divider>
    <div fxFlex>
      <button mat-button [routerLink]="['/departments']" color="primary"><span class="fa fa-chevron-right fa-lg"></span>
        Departamentos
      </button>
      <button mat-button [routerLink]="['/positions']" color="primary"><span class="fa fa-chevron-right fa-lg"></span>
        Cargos
      </button>
    </div>
    <mat-divider></mat-divider>
    <div fxFlex>
      <div style="height: 420px">
        <tree-root [nodes]="nodes" [options]="options">
          <ng-template #treeNodeTemplate let-node>
            <span class="fa fa-user-circle-o fa-lg"></span>
            {{ node.data.name }}
            <!--<button mat-button [routerLink]="['/position', node.data.id]"><span>{{ node.data.name }}</span></button>-->
          </ng-template>
        </tree-root>
      </div>
    </div>

    <mat-divider></mat-divider>
  </div>
  <ssi-footer></ssi-footer>
</div>

