<ssi-header menuActive="programsso"></ssi-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <h1 id="titleResource">Recursos</h1>
  </div>
  <div fxFlex fxLayout="row">
    <button mat-button routerLink="/resources/create" id="btnAddResource">Agregar nuevo recurso</button>
    <button mat-button routerLink="/resources/report" id="btnReport">Reportes</button>
  </div>
  <div fxFlex>
    <div>
      <mat-card>
        <mat-card-content>
          <mat-table #table [dataSource]="resources" id="resourceList">

            <ng-container matColumnDef="cost">
              <mat-header-cell *matHeaderCellDef>Costo</mat-header-cell>
              <mat-cell *matCellDef="let resource">{{resource.resourceCost}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="detail">
              <mat-header-cell *matHeaderCellDef>Detalle</mat-header-cell>
              <mat-cell *matCellDef="let resource">{{resource.resourceDetail}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>Accion</mat-header-cell>
              <mat-cell *matCellDef="let resource">
                <button mat-raised-button routerLink="/resources/update/{{resource.id}}" color="primary">
                  Editar
                </button>
                <button mat-raised-button (click)="deleteResource(resource)" color="warn">
                  Eliminar
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ssi-footer></ssi-footer>
