<ssi-header></ssi-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <div fxFlex><h1>Accidentes</h1></div>

    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Personal">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Personal </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.personal}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Reportado">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Reportado por </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.reportadopor}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Hora">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Hora </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fecha | date:'HH:mm'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FormAccident">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Forma de Accidente </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.formadeaccidente}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TypeLesion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de lesion </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.tipodelesion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BodyLesion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Parte del Cuerpo lesionada </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.partedelcuerpolesionada}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="Agente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Agente Causante </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.agentecausante}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="TypeAccident">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Accidente </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.tipodeaccidente}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Lugaratencion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Lugar de atencion </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.lugaratencion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Bajamedica">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Baja Medica/dias </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.bajamedica}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
        </ng-container>
        
        

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>

<ssi-footer></ssi-footer>
