<ssi-header></ssi-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <div fxFlex><h1>Accidentes</h1></div>


    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

    </div>
  </div>
</div>

<ssi-footer></ssi-footer>
