<div fxLayout="column" fxLayoutAlign="center center"  style="height: 500px;">
  <div fxLayout="column" fxLayoutAlign="center center"   >
    <form [formGroup]="form">
      <div>
        <img src="../../assets/images/ssi.png" width="200px"/>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <label>Username </label>
          <input matInput name="username" formControlName="username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <label>Password</label>
          <input matInput value="" name="password" formControlName="password"  type="password">
        </mat-form-field>
      </div>
      <div>
        <mat-card-actions>
          <button id="btnAccept" mat-raised-button
                  color="primary"
                  (click)="login()">Ingresar
          </button>
        </mat-card-actions>
      </div>
    </form>
  </div>
</div>
