<div fullscreen>
  <ssi-header menuActive="structure"></ssi-header>
  <div class="container"
       fxLayout="column"
       fxLayoutGap="10px">

    <div fxFlex>
      <h1>Cargos de la empresa</h1>
    </div>
    <mat-divider></mat-divider>
    <div fxFlex>
      <button id="btnCreatePosition" mat-raised-button routerLink="/positions/create" color="primary">
        <span class="fa fa-chevron-right fa-lg"></span>
        Crear nuevo cargo
      </button>
      <button id="btnReportPositions" mat-raised-button routerLink="/reporte/cargos-empresa" color="primary">
        <span class="fa fa-pie-chart fa-lg"></span> Reporte
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="container"
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutAlign.gt-md="space-around center"
         fxLayoutGap="10px">
      <div fxFlex="65">
        <mat-table name="tblPositions" #table [dataSource]="dataSource">

          <ng-container matColumnDef="name">
            <mat-header-cell name="colName" *matHeaderCellDef fxFlex="30">Nombre cargo</mat-header-cell>
            <mat-cell *matCellDef="let position" fxFlex="30">{{position.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="level">
            <mat-header-cell name="colLevel" *matHeaderCellDef fxFlex="5">Nivel</mat-header-cell>
            <mat-cell *matCellDef="let position" fxFlex="5">{{position.level}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="nameParentPosition">
            <mat-header-cell name="colParent" *matHeaderCellDef fxFlex="20">Depende de</mat-header-cell>
            <mat-cell *matCellDef="let position" fxFlex="20">{{position.nameParentPosition}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell name="colActions" *matHeaderCellDef fxFlex="40">Acciones</mat-header-cell>
            <mat-cell *matCellDef="let position" fxFlex="40">
              <a class="linkDetail" mat-raised-button routerLink="/positions/detail/{{position.id}}" color="primary">
                <span class="fa fa-eye fa-lg"></span> Ver</a> |
              <a class="linkEdit" mat-raised-button *ngIf="position.idParentPosition > 0" routerLink="/positions/update/{{position.id}}">
                <span class="fa fa-edit fa-lg"></span> Editar</a> |
              <a class="linkDeleted" mat-raised-button (click)="onDelete(position)" color="warn">
                <span class="fa fa-trash fa-lg"></span>
                Eliminar</a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" fxFlex></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" fxFlex></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

      <div fxFlex="35">
        <ssi-position-delete [positionDelete]="deletePosition" [haveChildren]="haveChildren"
                             (onDelete)="doSomething($event)"></ssi-position-delete>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <ssi-footer></ssi-footer>
</div>
