<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <div fxFlex>
      <h1>Personal</h1>
    </div>
    <div fxFlex fxLayout="row">
      <button mat-button routerLink="/personal/create">Agregar nuevo persnal</button>
      <button mat-button routerLink="/personal/report">Reporte</button>
    </div>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstname}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Apellido">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.lastname}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Direccion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Telefono">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cellphone}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

</div>
