<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Registrar nuevo Personal</h3>
     <form novalidate [formGroup]="personalForm" (ngSubmit)="onSubmit()" id="form">
    <p>
      <mat-input-container class="half-width"
                           dividerColor="{{(personalForm.get('firstname').hasError('required') && personalForm.get('firstname').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="firstname" placeholder="Nombre" type="text" required>
        <mat-hint>
                <span [hidden]="!(personalForm.get('firstname').hasError('required') && personalForm.get('firstname').touched)">
                  Nombre es requerido</span>
        </mat-hint>
      </mat-input-container>
      <mat-input-container class="half-width"
                           dividerColor="{{(personalForm.get('lastname').hasError('required') && personalForm.get('lastname').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="lastname" placeholder="Apellido" type="text" required>
        <mat-hint>
                <span [hidden]="!(personalForm.get('lastname').hasError('required') && personalForm.get('lastname').touched)">
                  Apellido es requerido</span>
        </mat-hint>
      </mat-input-container>

      <mat-input-container class="half-width"
                           dividerColor="{{(personalForm.get('email').hasError('required') && personalForm.get('email').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="email" placeholder="Email" type="email" required>
        <mat-hint>
                <span [hidden]="!(personalForm.get('email').hasError('required') && personalForm.get('email').touched)">
                  Email es requerido</span>
        </mat-hint>
      </mat-input-container>
      <mat-input-container class="half-width"
                           dividerColor="{{(personalForm.get('address').hasError('required') && personalForm.get('address').touched) ? 'warn' : 'primary'}}">
        <input matInput formControlName="address" placeholder="Direccion" type="text" required>
        <mat-hint>
                <span [hidden]="!(personalForm.get('address').hasError('required') && personalForm.get('address').touched)">
                  Direccion es required</span>
        </mat-hint>
      </mat-input-container>
       <mat-input-container class="half-width"
                            dividerColor="{{(personalForm.get('cellphone').hasError('required') && personalForm.get('cellphone').touched) ? 'warn' : 'primary'}}">
         <input matInput formControlName="cellphone" placeholder="Telefono" type="tel" required>
         <mat-hint>
              <span [hidden]="!(personalForm.get('cellphone').hasError('required') && personalForm.get('cellphone').touched)">
                Email es requerido</span>
         </mat-hint>
       </mat-input-container>
         <mat-form-field>
           <input matInput [matDatepicker]="picker" formControlName="birthdate" placeholder="Fecha Nacimiento"  required>
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>

     </p>

    <button type="submit"  mat-raised-button color="primary" [disabled]="personalForm.invalid">Enviar</button>
  </form>
  </div>
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Apellido">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Direccion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Telefono">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cellphone}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

</div>
