<ssi-header menuActive="equipament"></ssi-header>
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="40">
    <div fxFlex *ngIf="equipmentDetail">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>
            <h3>{{equipmentDetail.name | uppercase}}</h3>
            <h4>Tipo: {{getType()}}</h4>
          </mat-card-title>
        </mat-card-title-group>
        <img matCardImage data-src="data:image/png;base64,{{equipmentDetail.image}}" alt={{equipmentDetail.name}}>
        <!--<img matCardImage src={{equipmentDetail.image}} alt={{equipmentDetail.name}}>-->
        <img matCardImage src="../../assets/images/safety.png" width="250px"/>
        <mat-card-content>
          <p>{{equipmentDetail.description}}
          </p>
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-button [routerLink]="['/equipments']"><span
            class="fa fa-chevron-left fa-lg"></span>Atras</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<ssi-footer></ssi-footer>
