<div fullscreen>
  <ssi-header menuActive="home"></ssi-header>

  <div class="container"
       fxLayout="column"
       fxLayoutGap="10px">

    <div fxFlex>
      <h1>Sistema de seguridad industrial - Grupo D</h1>
    </div>
    <mat-divider></mat-divider>
    <div class="container"
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutAlign.gt-md="space-around center"
         fxLayoutGap="10px">
      <div fxFlex="50">
        <p>mostrar imagenes de equipamento</p>
        <p>< atras - adelante ></p>
      </div>

      <div fxFlex="40">
        mostrar los reportes de incidentes que tiene hechos cristian en incident
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>

  <ssi-footer></ssi-footer>
</div>

