<div fxFlex *ngIf="departmentDelete">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        <h3 color="warn">Eliminar departamento</h3>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p>Nombre:</p>
      {{departmentDelete.name}}
    </mat-card-content>
    <mat-card-content>
      <p>Descripción:</p>
      {{departmentDelete.description}}
    </mat-card-content>
    <mat-card-content>
      <p style="color: red;" mat-line *ngIf="departmentDelete.positions.length == 0">
        Seguro que quiere eliminar el departamento?</p>
      <p style="color: blue;" mat-line *ngIf="departmentDelete.positions.length > 0">
        No se permite borrar porque contiene {{departmentDelete.positions.length}} Cargos asociados</p>
      <button *ngIf="departmentDelete.positions.length == 0" mat-raised-button
              (click)="deleteDepartment(departmentDelete)" color="warn">Eliminar</button>
    </mat-card-content>
  </mat-card>
</div>
