<mat-list role="list">
  <mat-list-item role="listitem" routerLink="/audit">Auditoria</mat-list-item>
  <mat-list-item role="listitem" routerLink="/personal">Personal</mat-list-item>
  <mat-list-item role="listitem" routerLink="/assign">Asignación</mat-list-item>
  <mat-list-item role="listitem" routerLink="/contracts">Contratos</mat-list-item>
  <mat-list-item role="listitem" routerLink="/incidents">Incidentes</mat-list-item>
  <mat-list-item role="listitem" routerLink="/equipments">Equipamiento</mat-list-item>
  <mat-list-item role="listitem" routerLink="/inventory">Invantario</mat-list-item>
  <mat-list-item role="listitem" routerLink="kardex">Kardex</mat-list-item>
  <mat-list-item role="listitem" routerLink="/trainers">Capacitadores</mat-list-item>
  <mat-list-item role="listitem" routerLink="/programsso">Programas</mat-list-item>
  <mat-list-item role="listitem" routerLink="/activities">Actividades</mat-list-item>
  <mat-list-item role="listitem" routerLink="/resources">Recursos</mat-list-item>
  <mat-list-item role="listitem" routerLink="/positions">Cargos de la empresa</mat-list-item>
  <mat-list-item role="listitem" routerLink="/areas">Areas de trabajo</mat-list-item>
  <mat-list-item role="listitem" routerLink="functions">Funciones de cargos</mat-list-item>
  <mat-list-item role="listitem" routerLink="/requirements">Requisitos de cargos</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/cargos-empresa">Reporte - Cargos en la empresa</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/manual-funciones">Reporte - Manual de Funciones</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/personal">Reporte - Personal</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/accidentt/">Reporte - Accidentes</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/iperc">Reporte - IPERC</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/recursos-sso">Reporte - Programa SSO</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/recursos-sso">Reporte - Recursos SSO</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/equipamiento">Reporte - Equipamients</mat-list-item>
  <mat-list-item role="listitem" routerLink="/reporte/inventario">Reporte - inventario</mat-list-item>
  <mat-list-item role="listitem" routerLink="/about">About</mat-list-item>
  <mat-list-item role="listitem" routerLink="/logout">Cerrar Sessión</mat-list-item>
</mat-list>
